*, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 1480px;
    box-sizing: border-box;
}
    /* Header */

.header {
    box-shadow: 1px 0px 50px -7px rgba(0, 0, 0, .7);
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
}
    
.header__nav {
    padding: 30px 130px 30px 100px;
}

.header__nav__lists {
    list-style: none;
}

.header__nav__lists__list_left {
    display: inline;
    padding: 0px 5px;
}
    
.header__nav__lists__list_right {
    display: inline;
    float: right;

    padding-left: 15px;
}
    
.header__nav__lists__list_link {
    text-decoration: none;
    color: black;
    font-weight: bold;

    transition: all .3s;
}

.header__nav__lists__list_link:hover {
    color: #22cf7e;
}

    /* main */
main {
    padding-top: 130px;
}
    /* h1 all */

.h1 {
    color: #22cf7e;

    margin: 0px 50px 0px 130px;
    padding: 0px 15px 10px 10px;

    border-bottom: 3px solid #22cf7e;
    display: inline;
}

    /* Container 1 */

.container__1 {
    margin-top: 30px;
    position: relative;
    text-align: center;
}

.container__1__card_01 {
    display: inline-block;

    padding: 30px;
}

.container__1__card_02 {
    display: inline-block;

    padding: 30px;

    border-right: 2px solid #22cf7e;
    border-left: 2px solid #22cf7e;
}

.container__1__card_03 {
    display: inline-block;

    padding: 30px;
}

.container__1__card_bold {
    font-weight: bold;
    margin-top: 25px;
}

.container__1__card_fz13 {
    font-size: 13px;
}

.container__1__card_btn__1 {
    border: none;
    border-radius: 10%;
    background-color: #22cf7e;
    color: #ffffff;

    padding: 10px 15px;
    margin-right: 10px;
}


.container__1__card_btn__2 {
    border: none;
    background-color: #ffffff;
    color: #000000;

    padding: 10px 15px;
    margin-top: 25px;
}

.container__1__woman {
    display: inline-block;

    position: relative;
    bottom: 80px;
    width: 750px;
    height: 750px;

    background: url("https://www.southendsmiles.com/wp-content/uploads/2020/09/AdobeStock_174544330.jpeg") center  no-repeat;
    background-size: contain;
}

.container__1__woman_h2 {
    position: relative;
    top: 40%;
    font-size: 40px;
    color: #22cf7e;
}
.container__1__woman_p {
    position: relative;
    top: 42%;
    font-size: 16px;
    color: #ffffff;
}

.container__1__woman__btn {
    border: none;
    background-color: #22cf7e;

    position: relative;
    top: 350px;

    padding: 10px 15px;
    margin-right: 10px;
    color: #ffffff;
}

.container__1__img {
    border-bottom: 2px solid #22cf7e;
}

.container__1__img__leaves {
    position: relative;
    top: -140px;
    display: inline-block;
    border-radius: 50px;
    padding: 30px;
}

.hide {
    border-bottom: 2px solid #22cf7e;
    
    margin: 50px 50px 50px 50px;
}

    /* Container 2 */

.container__2 {
    margin-top: 30px;
    margin-left: 140px;
}

.container__2__product {
    display: inline-block;

    border: 1px solid #22cf7e;
    border-radius: 2%;

    max-width: 280px;

    padding: 15px;
    margin: 0px 20px 20px 0px;

    transition: all .5s;

    text-align: center;
}
.container__2__product:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 12px -7px rgba(0, 0, 0, .5);
}

.container__2__product__p_number {
    margin: 15px 10px;
    color: #22cf7e;
    padding: 0px;
    font-size: 16px;
}

.container__2__product__title {
    color: #22cf7e;
    font-size: 16px;

    font-weight: bold;
    margin-bottom: 10px;
}
.container__2__product__text {
    font-size: 14px;

    font-weight: bold;
    margin-bottom: 10px;
}

.container__2__product__price {
    font-weight: bold;
    color: #22cf7e;
    font-size: 18px;
    margin: 10px 0px;
}

.container__2__product__name {
    color: #22cf7e;
    font-size: 15px;
}

    /* Container 3 */

.container__3 {
    text-align: center;
    background-color: gray;
    margin: 0 auto;
    position: relative;
    height: 987px;
}
.container__3__kinlo {
    display: inline-block;

    position: relative;
    width: 450px;
    height: 450px;

    background: url("https://www.southendsmiles.com/wp-content/uploads/2020/09/AdobeStock_174544330.jpeg") center  no-repeat;
    background-size: contain;
    background-color: #ffffff;
}

.container__3__kinlo__title {
    position: relative;
    top: -335px;

    letter-spacing: 2px;
    font-size: 30px;
    color: #000000;
}
.container__3__kinlo__title:before {
    content: ' "To be one ';
    color: #ffffff;
}

.container__3__kinlo__title:after {
    content: ' of the best."';
    color: #ffffff;
}

.container__3__kinlo__text {
    position: relative;
    top: -315px;
    
    color: #ffffff;
}

.container__3__kinlo__logo {
    position: relative;
    top: -300px;

    color: #22cf7e;
    letter-spacing: 20px;
    font-size: 30px;
}
.container__3__h2 {
    position: relative;
    top: -110px;
    padding-top: 30px;
    padding-bottom: 30px;

    letter-spacing: 1px;
    color: #22cf7e;
    background-color: #ffffff;
}

.container__3__jangoo {
    display: inline-block;

    position: relative;
    top: -110px;
    width: 450px;
    height: 450px;

    background: url("https://www.southendsmiles.com/wp-content/uploads/2020/09/AdobeStock_174544330.jpeg") center  no-repeat;
    background-size: contain;
    background-color: #ffffff;
}

.container__3__jangoo__title {
    position: relative;
    top: -435px;

    letter-spacing: 2px;
    font-size: 30px;
    color: #000000;
}
.container__3__jangoo__title:before {
    content: ' "To be one ';
    color: #ffffff;
}

.container__3__jangoo__title:after {
    content: ' of the best."';
    color: #ffffff;
}

.container__3__jangoo__text {
    position: relative;
    top: -425px;
    
    color: #ffffff;
}

.container__3__jangoo__logo {
    position: relative;
    top: -400px;

    color: #22cf7e;
    letter-spacing: 20px;
    font-size: 30px;
}


    /* Container 4 */

.container__4 {
    margin: 40px 150px;
    text-align: center;
}

.container__4__studio {
    display: inline-block;
    border-radius: 10px;

    background: url('/src/Frontend/images/leaves.png');
    width: 450px;
    height: 270px;

    margin: 0px 25px;
}

.container__4__studio__title {
    padding: 40px 40px 25px;

    color: #ffffff;
}

.container__4__studio__text {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;

    padding: 0px 40px 0px;
}

.container__4__studio__small {
    color:#ffffff ;
    font-size: 10px;
    padding: 20px 30px;
}

.container__4__studio__btn_1 {
    border: none;
    border-radius: 10%;
    background-color: #22cf7e;
    color: #ffffff;

    padding: 10px 15px;
}

.container__4__studio__btn_2 {
    border: none;
    background: none;
    color: #ffffff;

    padding: 10px 15px;
}